<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
           body {
            background: #333;
            color: #fff;
           }
          </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="~/Home/Index" class="btn btn-secondary">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>© 2020 - Site Scanner</p>
    </footer>
</div>
</body>
</html>