@model IEnumerable<PageViewModel>

@if (Model == null)
{
    <div class="alert alert-danger" role="alert">This site has never been checked</div>
}
else
{
    <div>
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">Url</th>
                <th scope="col">Response time</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Url</td>
                    <td>@p.ResponseTime</td>
                    <td>@p.Date</td>
                </tr>
            }
        </table>
    </div>
}