<div>
    @using (Html.BeginForm("Result", "Home", FormMethod.Post))
    {
        <input type="text" name="url"/>
        <input type="submit" value="Send"/>
    }

    @using (Html.BeginForm("History", "Home", FormMethod.Post))
    {
        <input type="text" name="url"/>
        <input type="submit" value="Send"/>
    }
</div>